.new_sentence {
  font-family: 'Caveat', cursive;
  height: calc(100vh - 120px);
  width: 100vw;
  &__main {
    height: calc(100vh - 120px);
    width: 800px;
    margin: auto;
    text-align: center;
    &__theme {
      height: 300px;
      width: 750px;
      margin: auto;
      &__header {
        height: 100px;
      }
      &__body {
        height: 200px;
        &__text {
          height: 120px;
          font-size: 50px;
          line-height: 3em;
        }
        &__hint {
          height: 80px;
        }
      }
    }
    &__image {
      height: 120px;
      width: 750px;
      margin: auto;
    }
    &__answer {
      height: calc(100vh - 550px);
      width: 750px;
      margin: auto;
      &__header {
        &__text {
          height: 50px;
          width: 600px;
          font-size: 30px;
        }
      }
      &__body {
        height: 100px;
        margin-top: 20px;
        margin-right: 200px;
        &__button {
          font-size: 30px;
          height: 50px;
          width: 200px;
          position: absolute;
          margin-top: 20px;
          background: linear-gradient(to right, #2954e0 50%, #fff 50%);
          background-size: 200% 100.5%;
          background-position: right bottom;
          color: #020202;
          border: none;
          border-left: 0.20em solid #2954e0;
          border-color: none;
          box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
          transition: all .5s ease-out;
          cursor: pointer;
        }
        &__button:hover {
          background-position: left bottom;
          color: white;
        }
      }
    }
  }
}