.result
  .result__main
    .result__main__top
      おつかれ
    .result__main__list
      = link_to "more", new_sentence_path, class: "result__main__list__more"
      = link_to "past", new_sentence_path, class: "result__main__list__past"
      = link_to "title", new_sentence_path, class: "result__main__list__title"