= render "users/header"
= render "users/add"
.show_sentence
  past paraphrase
  .show_sentence__main
    .show_sentence__main__content
      .show_sentence__main__content__theme
      .show_sentence__main__content__phrase
        .show_sentence__main__content__phrase__text
