.main
  .main__container
    .main__container__background
      = video_tag 'overhead-view.mp4', autoplay: true, muted: true, controls: true, loop:true, preload: true, class: "main__container__background__movie"
    .main__container__title
      English Paraphrase
    .main__container__view
    .main__container__menu
    - if @themes.present?
      = link_to new_paraphrase_path, class: 'main__container__menu__go' do
        Let's paraphrase !
      = link_to themes_path, class: 'main__container__menu__past' do
        Past paraphrases
    - else
      = link_to themes_path, class: 'main__container__menu__only' do
        Past paraphrases