.add{
  font-family: 'Caveat', cursive;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  height: 160px;
  width: 160px;
  position: fixed;
  &__button {
    text-decoration: none;
    &__name{
      padding: 32px;
      background: red;
      color: #FFF;
      width: 120px;
      height: 120px;
      border-radius: 30%;
      text-align: center;
      overflow: hidden;
      -webkit-transition: .4s;
      transition: .4s;
   }  
 }
}