.header {
  background-color: #f6f6e9;
  height: 120px;
  width: 100vw;
  font-family: 'Caveat', cursive;
  text-align: center;
  &__container {
    height: 90px;
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    &__logo {
      font-size: 35px;
      width: 280px;
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 8px 10px 5px 10px;
      line-height: 2.5em;
      color: #fd5f00;
      background: #fff1da;
      border-bottom: solid 4px #fd5f00;
      border-radius: 15px 15px 0 0;
      transition: .4s;
      .icon {
        text-decoration: none;
      }
      .icon:hover {
        color: white;
      }
    }
    &__logo:hover {
      background: #fd5f00;
      color: #FFF;
    }
    &__phrase {
      font-size: 22px;
      width: 500px;
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 8px 10px 5px 10px;
      color: #005792;
      background: #fff1da;
      border-bottom: solid 4px #005792;
      border-radius: 15px 15px 0 0;
      transition: .4s;
      &__info {
        height: 30px;
        font-size: 25px;
      }
      &__text {
        text-decoration: none;
        font-size: 30px;
      }
      &__text:hover {
        color: #FFF;
      }
    }
    &__phrase:hover {
      background: #005792;
      color: #FFF;
    }
    &__mypage {
      font-size: 22px;
      width: 280px;
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 8px 10px 5px 10px;
      color: #13334c;
      background: #fff1da;
      border-bottom: solid 4px #13334c;
      border-radius: 15px 15px 0 0;
      transition: .4s;
      &__nickname {
        font-size: 25px;
      }
      &__button {
        font-size: 30px;
        .icon {
          text-decoration: none;
        }
        .icon:hover {
          color: #FFF;
        }
      }
    }
    &__mypage:hover {
      background: #13334c;
      color: #FFF;
    }
    &__auth {
      font-size: 22px;
      width: 280px;
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 8px 10px 5px 10px;
      color: #13334c;
      background: #fff1da;
      border-bottom: solid 4px #13334c;
      border-radius: 15px 15px 0 0;
      transition: .4s;
      font-size: 28px;
      text-align: center;
      &__signup {
        background-color: silver;
        display: inline-block;
        height: 40px;
        width: 120px;
        margin-top: 30px;
        text-decoration: none;
        border-radius: 15px;
      }
      &__signup:hover {
        background: #13334c;
        color: #FFF;
      }
      &__signin {
        background-color: aqua;
        height: 40px;
        width: 120px;
        float: right;
        margin-right: 10px;
        margin-top: 30px;
        text-decoration: none;
        border-radius: 15px;
      }
      &__signin:hover {
        background: #13334c;
        color: #FFF;
      }
    }
    &__auth:hover {
      background: #13334c;
      color: #FFF;
    }
  }
}