.mypage {
  font-family: 'Caveat', cursive;
  background-color: chocolate;
  height: 100vh;
  width: 100vw;
  &__main {
    background-color: cornflowerblue;
    margin: auto;
    &__content {
      background-color: wheat;
      height: 300px;
      width: 800px;
      margin: auto;
      margin-top: 50px;
      .button {
        height: 30px;
        font-size: 20px;
        text-decoration: none;
      }
      .delete {
        height: 30px;
        font-size: 20px;
        text-decoration: none;
      }
      &__theme {
        background-color: white;
        height: 60px;
        font-size: 30px;
      }
      &__phrase {
        background-color: yellow;
        height: 240px;
        font-size: 20px;
        &__text {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}